

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
}

/*
  Header stylesheet
*/

.header {
  width: inherit;
}
.header-content {
  width: inherit;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.header-logo-img {
  width: 4em;
  height: 100%;
  margin: 0.5em;
  margin-top: 2em;
  margin-right: 0.5em;
}
.header-logo-text-block {
  margin-right: 0.5em;
  color: #2d3c49;
}
.header-logo-text {
  margin: 0;
  font-size: 1em;
  font-weight: 100;
}
.header-logo-caption {
  margin-bottom: 0;
  margin-top: 1em;
  font-size: 2.3em;
  font-weight: 100;
}
.line {
  height: 0.2em;
  width: 100%;
  background-color: #7d97ad;
}

/*
  Main image stylesheet
*/

picture, .main-image {
  width: inherit;
}

/*
  My projects stylesheet
*/
.box {
  display: flex;
  flex-wrap: wrap;
}

.my-projects-text {
  text-transform: none;
  margin-left: 0.5em;
  font-size: 1.5em;
  color: #7d97ad;
}
.project-box {
  width: calc((100% - 1em)/3);
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1em;
  white-space: nowrap;
}
.project-img {
  max-width: 100%;
  overflow-y: hidden;

}
.project-text {
  text-align: center;
  color: #2d3c49;
}
.project-link {
  text-transform: none;
  margin-left: 1em;
}
.project-ATC, .project-skydive-logbook{
  margin-right: 0.5em;
}

/*
  social links
*/

.social-links {
  margin-left: auto;
  margin-right: auto;
  width: 11em;
  margin-bottom: 0.5em;
}

/*
  media
*/

@media screen and (max-width: 500px) {
  .project-skydive-logbook {
    margin-right: 0;
  }
  .project-box {
    width: calc((100% - 0.5em)/2);
}
@media screen and (max-width: 400px) {
  .header-logo-img {
    width: 9%;
    margin-top: auto;
    margin-bottom: auto;
  }
  .header-logo-text-block {
    width: 80%;
  }
  .header-logo-caption {
    margin-top: 0.5em;
    font-size: 2.2em;
  }
}
@media screen and (max-width: 320px) {
  .project-skydive-logbook, .project-ATC {
    margin-right: 0;
  }
  .project-box {
    width: 100%;
    margin-bottom: 2em;
  }
  .header-logo-caption {
    margin-top: 0.5em;
  }
}
